@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.7.0/css/all.css");
/* CSS Document */
/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Header Content
	3.3 Logo
4. Menu
5. Home
6. Boxes
7. About
8. Departments
9. Services
10. CTA
11. Footer



******************************/
/***********
1. Fonts
***********/
.home_slider_container {
  background-image: url("../assets/home_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 900px; }

/*********************************
2. Body and some general stuff
*********************************/
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 500;
  background: #FFFFFF;
  color: #696969; }

div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

ul {
  list-style: none;
  margin-bottom: 0px; }

p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 2;
  font-weight: 500;
  color: #696969;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }

p:last-of-type {
  margin-bottom: 0; }

a {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease; }

a, a:hover, a:visited, a:active, a:link {
  text-decoration: none; }

a:hover {
  color: #007bff !important; }

::selection {
  color: #007bff; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }

.form-control {
  color: #db5246; }

section {
  display: block;
  position: relative;
  box-sizing: border-box; }

.clear {
  clear: both; }

.clearfix::before, .clearfix::after {
  content: "";
  display: table; }

.clearfix::after {
  clear: both; }

.clearfix {
  zoom: 1; }

.float_left {
  float: left; }

.float_right {
  float: right; }

.trans_200 {
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease; }

.trans_300 {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease; }

.trans_400 {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease; }

.trans_500 {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease; }

.fill_height {
  height: 100%; }

.super_container {
  width: 100%;
  overflow: hidden; }

.prlx_parent {
  overflow: hidden; }

.prlx {
  height: 130% !important; }

.parallax-window {
  min-height: 400px;
  background: transparent; }

.nopadding {
  padding: 0px !important; }

.button {
  display: inline-block;
  height: 51px;
  background: #283290; }

.button::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
  background: #007bff;
  content: '';
  z-index: 0;
  -webkit-transition: all 400ms cubic-bezier(0.33, 0.68, 0.59, 0.99);
  -moz-transition: all 400ms cubic-bezier(0.33, 0.68, 0.59, 0.99);
  -ms-transition: all 400ms cubic-bezier(0.33, 0.68, 0.59, 0.99);
  -o-transition: all 400ms cubic-bezier(0.33, 0.68, 0.59, 0.99);
  transition: all 400ms cubic-bezier(0.33, 0.68, 0.59, 0.99); }

.button a {
  display: block;
  position: relative;
  line-height: 51px;
  font-size: 14px;
  font-weight: 900;
  color: #FFFFFF;
  padding-left: 39px;
  padding-right: 45px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  z-index: 10; }

.button:hover::after {
  height: 100%; }

.button:hover a {
  color: #FFFFFF !important; }

.section_title {
  padding-top: 17px; }

.section_title h2 {
  font-size: 30px;
  font-weight: 500;
  color: #232323; }

.section_title::before {
  display: block;
  position: absolute;
  left: 1px;
  top: 0;
  width: 54px;
  height: 3px;
  background: #007bff;
  content: ''; }

.section_title_light h2 {
  color: #FFFFFF; }

/*********************************
3. Header
*********************************/
.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  z-index: 100; }

.header.scrolled {
  top: -48px; }

/*********************************
3.1 Top Bar
*********************************/
.top_bar {
  width: 100%;
  background: #283290; }

.top_bar_content {
  width: 100%;
  height: 48px;
  padding-left: 214px; }

.top_bar_item {
  margin-left: 33px; }

.top_bar_item a {
  font-size: 14px;
  color: #FFFFFF;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease; }

.top_bar_item:first-child {
  margin-left: 37px; }

.emergencies {
  height: 100%;
  background: #ff0030;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  padding-left: 38px;
  padding-right: 38px; }

/*********************************
3.2 Header Content
*********************************/
.header_container {
  width: 100%;
  background: #FFFFFF; }

.header_content {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  align-self: center; }

.header.scrolled .header_content {
  height: 0px; }

.main_nav ul li {
  display: inline-block; }

.main_nav ul li:not(:first-child) {
  margin-left: 32px; }

.main_nav ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #323232; }

.hamburger {
  display: none;
  cursor: pointer; }

.hamburger i {
  font-size: 24px;
  color: #272727; }

/*********************************
3.3 Logo
*********************************/
.logo_container_outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.logo_container {
  position: absolute;
  top: 0;
  left: 15px;
  width: 216px;
  height: 177px;
  background: #FFFFFF;
  box-shadow: 0px 31px 29px rgba(0, 0, 0, 0.09);
  z-index: 10;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease; }

.header.scrolled .logo_container {
  top: 48px;
  height: 120px; }

.logo_container a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%; }

.logo_content {
  width: 100%;
  height: 100%;
  padding-left: 36px; }

.logo_line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #007bff; }

.logo {
  margin-top: 27px; }

.logo span {
  color: #007bff; }

.logo_container a .logo:hover {
  color: #283290; }

.logo_text {
  font-size: 30px;
  font-weight: 500;
  color: #283290;
  line-height: 0.75; }

.logo_box {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: #007bff;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 23px;
  text-align: center;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
  margin-left: 1px; }

.logo_sub {
  font-size: 14px;
  font-weight: 400;
  color: #8f8e8e;
  padding-left: 3px;
  margin-top: 2px; }

/*********************************
4. Menu
*********************************/
.menu_container {
  position: fixed;
  top: 0;
  right: -50vw;
  width: 50vw;
  height: 100vh;
  background: #FFFFFF;
  z-index: 101;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  visibility: hidden;
  opacity: 0; }

.menu_container.active {
  visibility: visible;
  opacity: 1;
  right: 0; }

.menu {
  position: absolute;
  top: 150px;
  left: 0;
  padding-left: 15%; }

.menu_inner {
  width: 100%;
  height: 100%; }

.menu_list {
  -webkit-transform: translateY(1.5rem);
  -moz-transform: translateY(1.5rem);
  -ms-transform: translateY(1.5rem);
  -o-transform: translateY(1.5rem);
  transform: translateY(1.5rem);
  -webkit-transition: all 1000ms 400ms ease;
  -moz-transition: all 1000ms 400ms ease;
  -ms-transition: all 1000ms 400ms ease;
  -o-transition: all 1000ms 400ms ease;
  transition: all 1000ms 400ms ease;
  opacity: 0; }

.menu_container.active .menu_list {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1; }

.menu_item {
  margin-bottom: 5px; }

.menu_item a {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #272727;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease; }

.menu_item a:hover {
  color: #ffb606; }

.menu_close_container {
  position: absolute;
  top: 86px;
  right: 79px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  z-index: 10;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu_close {
  top: 9px;
  width: 21px;
  height: 3px;
  background: #3a3a3a;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease; }

.menu_close::after {
  display: block;
  position: absolute;
  top: -9px;
  left: 9px;
  content: '';
  width: 3px;
  height: 21px;
  background: #3a3a3a;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease; }

.menu_close_container:hover .menu_close,
.menu_close_container:hover .menu_close::after {
  background: #007bff; }

.menu_extra {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 15%;
  padding-bottom: 25px; }

.menu_appointment a {
  font-size: 13px;
  color: #283290; }

.menu_emergencies {
  font-size: 13px;
  color: #272727; }

/*********************************
5. Home
*********************************/
.home {
  width: 100%;
  height: 900px; }

.home_slider_container {
  width: 100%;
  height: 100%; }

.home_slider_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.home_slider_progress {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0;
  max-width: 100%;
  height: 2px;
  background: #007bff;
  z-index: 1; }

.home_content {
  position: absolute;
  top: 39.8%;
  left: 0;
  width: 100%; }

.home_content_inner {
  width: 550px; }

.home_title h1 {
  font-size: 69.24px;
  font-weight: 900;
  color: #272727;
  line-height: 1.0398; }

.home_text {
  padding-right: 20px;
  margin-top: 10px;
  padding-left: 3px; }

.home_text p {
  font-size: 16px;
  font-weight: 500;
  color: #747474;
  line-height: 1.75; }

.home_button {
  margin-top: 34px;
  margin-left: 3px; }

/*********************************
6. Boxes
*********************************/
.boxes {
  width: 100%;
  background: transparent;
  z-index: 10;
  padding-bottom: 35px; }

.box_col {
  margin-top: -100px; }

.row {
  display: flex;
  justify-content: space-around; }

.box {
  flex-basis: 300px;
  box-sizing: border-box;
  height: 287px;
  background: #fff;
  padding-top: 48px; }
  .box title {
    font-size: 3em; }

.box::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #007bff;
  content: ''; }

.box:hover {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.59); }

.box_title {
  font-size: 20px;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 11px; }

.working_hours {
  padding-top: 29px;
  padding-right: 60px; }

.working_hours_list {
  margin-top: 40px; }

.working_hours_list ul li {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF; }

.working_hours_list ul li:not(:last-child) {
  margin-bottom: 15px; }

.box_icon {
  width: 37px;
  height: 37px; }

.box_icon img {
  max-width: 100%; }

.box_text {
  font-size: 14px;
  line-height: 2.14;
  color: #FFFFFF;
  font-weight: 400;
  margin-top: 23px; }

.box_phone {
  font-size: 30px;
  font-weight: 400;
  color: #007bff;
  margin-top: 20px; }

.box_appointments {
  padding-right: 30px; }

.box_emergency {
  padding-right: 30px; }

.box_emergency_text {
  font-size: 14px;
  line-height: 2.14;
  color: #FFFFFF;
  font-weight: 400;
  margin-top: 18px; }

/*********************************
7. About
*********************************/
.about {
  width: 100%;
  background: #FFFFFF;
  padding-top: 92px;
  padding-bottom: 92px; }

.about_text {
  margin-top: 34px; }

.about_button {
  margin-top: 45px; }

.about_image {
  position: absolute;
  right: 0;
  bottom: 0; }

.about_image img {
  max-width: 100%; }

/*********************************
8. Departments
*********************************/
.departments {
  width: 100%;
  background: transparent;
  padding-top: 75px;
  padding-bottom: 65px; }

.departments_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.departments_row {
  margin-top: 79px; }

.dept_col {
  margin-bottom: 30px; }

.dept {
  width: 100%;
  height: 100%; }

.dept_image {
  width: 100%; }

.dept_image img {
  max-width: 100%; }

.dept_content {
  padding-top: 48px;
  padding-bottom: 55px;
  background: #FFFFFF; }

.dept_content::after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #007bff;
  content: ''; }

.dept_title {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #232323; }

.dept_subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #696969;
  margin-top: 5px; }

.dept_text p {
  color: #FFFFFF;
  -webkit-transform: translateY(-9px);
  -moz-transform: translateY(-9px);
  -ms-transform: translateY(-9px);
  -o-transform: translateY(-9px);
  transform: translateY(-9px); }

.dept_button {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #FFFFFF; }

.dept_button a {
  color: #272727; }

/*********************************
9. Services
*********************************/
.services {
  width: 100%;
  background: #FFFFFF;
  padding-top: 95px; }

.services_row {
  margin-top: 95px; }

.service_col {
  margin-bottom: 30px; }

.service {
  width: 100%;
  background: #f5f7fa;
  padding-top: 46px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 120px;
  margin-bottom: 40px; }

.service::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background: #007bff;
  content: ''; }

.service_text {
  margin-top: 16px; }

.service_title {
  font-size: 20px;
  font-weight: 700;
  color: #232323;
  padding-top: 41px;
  margin-top: 26px; }

/*********************************
10. CTA
*********************************/
.cta {
  width: 100%;
  padding-top: 131px;
  padding-bottom: 116px; }

.cta_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.cta_content {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto; }

.cta_content h2 {
  font-size: 48px;
  font-weight: 700;
  color: #FFFFFF; }

.cta_content p {
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: -3px; }

.cta_button {
  margin-top: 38px; }

/*********************************
11. Footer
*********************************/
/* CSS Document */
/******************************

/************
4. 1199px
************/
@media only screen and (max-width: 1199px) {
  .box {
    height: 313px; }

  .box_phone {
    font-size: 24px; } }
/************
4. 1100px
************/
/************
5. 1024px
************/
/************
6. 991px
************/
@media only screen and (max-width: 991px) {
  .main_nav {
    display: none; }

  .logo_container {
    width: 181px; }

  .logo_content {
    padding-left: 28px; }

  .logo_text {
    font-size: 24px; }

  .logo_sub {
    font-size: 12px;
    font-weight: 400; }

  .top_bar_content {
    padding-left: 166px; }

  .top_bar_item {
    margin-left: 27px; }

  .top_bar_item a {
    font-size: 12px; }

  .emergencies {
    font-size: 12px;
    padding-left: 30px;
    padding-right: 30px; }

  .logo_box {
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px); }

  .hamburger {
    display: block; }

  .home_title h1 {
    font-size: 56px; }

  .boxes {
    padding-top: 95px; }

  .box_col {
    margin-top: 0; }

  .box_col:not(:last-child) {
    margin-bottom: 30px; }

  .box {
    height: auto;
    padding-bottom: 40px; }

  .about_image {
    position: relative;
    right: auto;
    bottom: auto;
    text-align: center;
    margin-top: 55px; } }
/************
7. 959px
************/
/************
8. 880px
************/
/************
9. 768px
************/
/************
10. 767px
************/
@media only screen and (max-width: 767px) {
  .top_bar {
    display: none; }

  .logo_container {
    height: 127px; }

  .logo {
    margin-top: 9px; }

  .home_content_inner {
    width: 100%; }

  .dept_text {
    margin-top: 15px; }

  .dept_button {
    position: relative;
    margin-top: 20px; }

  .cta_content h2 {
    font-size: 36px; } }
/************
11. 575px
************/
@media only screen and (max-width: 575px) {
  p {
    font-size: 13px; }

  .header.scrolled {
    top: 0px !important; }

  .header_content,
  .header.scrolled .header_content {
    height: 60px; }

  .header.scrolled .logo_container {
    top: 0; }

  .header.scrolled .logo_container {
    height: 77px; }

  .hamburger i {
    font-size: 20px; }

  .logo_container {
    width: 141px;
    height: 77px; }

  .logo_content {
    padding-left: 20px; }

  .logo_text {
    font-size: 16px; }

  .logo_box {
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 12px; }

  .logo_sub {
    font-size: 10px;
    padding-left: 1px; }

  .menu {
    top: 90px; }

  .menu_close_container {
    top: 20px;
    right: 20px; }

  .home {
    height: 100vh; }

  .home_content {
    top: calc(50% + 34px);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

  .home_title h1 {
    font-size: 36px; }

  .home_text p {
    font-size: 13px; }

  .menu_container {
    width: 100vw;
    right: -100vw; }

  .menu_item a {
    font-size: 20px; }

  .section_title h2 {
    font-size: 24px; }

  .button {
    height: 41px; }

  .button a {
    font-size: 11px;
    line-height: 41px;
    padding-left: 29px;
    padding-right: 34px; }

  .box {
    padding-left: 25px; }

  .working_hours {
    padding-right: 30px; }

  .cta_content h2 {
    font-size: 28px; } }
/************
11. 539px
************/
/************
12. 480px
************/
/************
13. 479px
************/
@media only screen and (max-width: 479px) {
  .home_title h1 {
    font-size: 28px; } }
/************
14. 400px
************/
.clearfix::after {
  content: "";
  clear: both;
  display: table; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #333333; }

.welcome_bar {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 16px;
  align-items: center;
  justify-content: center; }
  .welcome_bar p {
    margin-top: 14px; }
  .welcome_bar #welcome_drop_down_btn {
    font-size: 1.3em;
    padding: 10px;
    box-sizing: border-box;
    fill: #333333; }
    .welcome_bar #welcome_drop_down_btn:hover {
      cursor: pointer; }
    .welcome_bar #welcome_drop_down_btn.open {
      transform: rotate(180deg); }
  .welcome_bar .popOver {
    display: none;
    background: #444;
    position: absolute;
    right: 12px;
    top: 40px;
    z-index: 100; }
    .welcome_bar .popOver li {
      list-style: none;
      padding: 10px; }
      .welcome_bar .popOver li:hover {
        background: rgba(255, 255, 255, 0.2); }
      .welcome_bar .popOver li a {
        text-decoration: none;
        color: white; }
    .welcome_bar .popOver.popOver_open {
      display: block; }

.content {
  display: flex; }

.drawer {
  position: relative;
  font-weight: normal;
  height: 100vh;
  display: block;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  flex-basis: 350px; }
  .drawer.drawer_collapse {
    flex-basis: 0px; }
    .drawer.drawer_collapse li {
      padding-right: 16px; }
      .drawer.drawer_collapse li a {
        display: none; }
  .drawer #drawer_icon {
    font-size: 1.5em;
    color: grey;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    box-sizing: border-box; }
    .drawer #drawer_icon:hover {
      cursor: pointer; }
  .drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-top: 58px; }
  .drawer li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    padding-right: 48px;
    box-sizing: border-box;
    position: relative; }
    .drawer li::after {
      display: inline-block;
      content: "";
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(51, 51, 51, 0.1); }
    .drawer li a {
      text-decoration: none;
      color: #333333;
      padding-left: 10px; }
    .drawer li:hover {
      cursor: pointer;
      background: rgba(0, 123, 255, 0.2); }
  .drawer .drawer_item_icon {
    font-size: 1.4em;
    text-align: center;
    width: 24px;
    height: 24px;
    color: #007bff; }
  .drawer .item_selected {
    background: rgba(0, 123, 255, 0.1); }

.main_content {
  width: 100%;
  padding: 0 30px;
  margin-bottom: 200px; }
  .main_content h1 {
    font-weight: lighter;
    text-align: center;
    margin-left: 24px;
    margin-top: 64px; }

.patient_dashboard {
  box-sizing: border-box;
  width: 100%;
  padding: 16px; }
  .patient_dashboard .card {
    margin: 4px;
    height: 200px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(51, 51, 51, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px; }
    .patient_dashboard .card:hover {
      background: rgba(0, 123, 255, 0.2);
      cursor: pointer; }
    .patient_dashboard .card .card_icon {
      color: #007bff;
      font-size: 3em;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
    .patient_dashboard .card a {
      padding-top: 1.1em;
      text-decoration: none;
      font-size: 1.3em;
      line-height: 1em;
      font-weight: lighter;
      color: #333333;
      text-align: center; }

.ask_for_prescription_form {
  padding: 0 100px; }
  .ask_for_prescription_form .form-checkboxes {
    padding: 0 24px;
    margin-top: 16px;
    margin-bottom: 24px; }
  .ask_for_prescription_form .form-checkbox label {
    color: rgba(51, 51, 51, 0.8);
    padding: 0 4px; }
  .ask_for_prescription_form .form-checkbox {
    display: flex; }
  .ask_for_prescription_form .form-check-input {
    padding: 0 24px;
    width: 18px;
    height: 18px;
    padding: 0; }

/* ==========================================================================
   #FORM
   ========================================================================== */
input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit; }

.input-group {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 2px solid #ccc; }

.input-icon {
  position: absolute;
  font-size: 18px;
  color: #ccc;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer; }

.input--style-1 {
  padding: 9px 0;
  color: #666; }

.input--style-1:pleplaceholder {
  /* WebKit, Blink, Edge */
  color: #555; }

.option-control {
  background: red; }

/* ==========================================================================
   #DATE PICKER
   ========================================================================== */
td.active {
  background-color: #2c6ed5; }

input[type="date" i] {
  padding: 14px; }

.table-condensed td, .table-condensed th {
  font-size: 14px;
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400; }

.daterangepicker td {
  width: 40px;
  height: 30px; }

.daterangepicker {
  border: none;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  display: none;
  border: 1px solid #e0e0e0;
  margin-top: 5px; }

.daterangepicker::after, .daterangepicker::before {
  display: none; }

.daterangepicker thead tr th {
  padding: 10px 0; }

.daterangepicker .table-condensed th select {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  padding: 5px;
  outline: none; }

.btn.btn-primary {
  background: #007bff;
  font-size: 1.2em;
  text-transform: uppercase;
  outline: none;
  border: 0 solid #000; }
  .btn.btn-primary:hover {
    background: #0067d6;
    font-size: 1.2em;
    text-transform: uppercase; }

table.table a {
  color: #007bff; }
  table.table a:hover {
    text-decoration: none;
    color: #0067d6; }

/****************** Messages
*************************************************/
.message_container {
  position: relative;
  overflow: hidden; }

.replay-box {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 30px; }
  .replay-box form {
    display: flex;
    align-items: center; }
    .replay-box form input[type="text"] {
      flex-grow: 1;
      padding: 20px; }
    .replay-box form button[type="submit"] {
      flex-grow: 0;
      flex-basis: 100px; }
      .replay-box form button[type="submit"] i {
        color: #fff; }

.messages-wrapper {
  height: 80vh;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 10px;
  padding-bottom: 300px;
  position: relative; }

.message {
  border-radius: 20px 20px 20px 20px;
  padding: 15px 20px;
  margin: 50px 10px;
  position: relative; }

.message.to {
  background-color: #666;
  color: #fff;
  margin-left: 30%;
  border-bottom-right-radius: 0px; }
  .message.to .meta-info {
    position: absolute;
    color: rgba(0, 0, 0, 0.7);
    bottom: -40px;
    right: 0px; }
    .message.to .meta-info b {
      color: rgba(0, 0, 0, 0.6); }
  .message.to p, .message.to b, .message.to i, .message.to div, .message.to span {
    color: #fff; }
  .message.to b {
    font-weight: 500; }

.message.from {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 80px;
  border-bottom-left-radius: 0px; }
  .message.from .meta-info {
    position: absolute;
    color: rgba(0, 0, 0, 0.7);
    bottom: -40px;
    left: 0px; }
    .message.from .meta-info b {
      color: rgba(0, 0, 0, 0.6); }

.message.to + .message.to,
.message.from + .message.from {
  margin-top: -7px; }

/********** Registration container
**************************************************/
.registration_container {
  width: 80%;
  margin: 10% auto;
  height: 100px; }

.panel-login {
  border-color: #ccc;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2); }

.panel-login .panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align: center; }

.panel-login > .panel-heading a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.panel-login > .panel-heading a.active {
  color: #029f5b;
  font-size: 18px; }

.panel-login > .panel-heading hr {
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)); }

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear; }

.panel-login input:hover,
.panel-login input:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc; }

.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #59B2E6; }

.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD; }

.forgot-password {
  text-decoration: underline;
  color: #888; }

.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666; }

.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #1CB94A; }

.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347; }

/************ Main Home
***************************************/
.card {
  padding: 24px;
  margin: 24px 0; }
  .card .card-title {
    font-size: 2em; }

.main-card-icon {
  color: #007bff;
  font-size: 5em; }

/************* Footer
****************************************/
.footer-distributed {
  background-color: #292c2f;
  box-sizing: border-box;
  width: 100%;
  padding: 55px 50px; }
  .footer-distributed .footer-content .copyright p {
    color: rgba(255, 255, 255, 0.8); }
  .footer-distributed .footer-content .footer-left div {
    display: flex;
    align-items: center; }
  .footer-distributed .footer-content .footer-left i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 1.2em;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle; }
  .footer-distributed .footer-content .footer-left p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0; }
  .footer-distributed .footer-content .footer-left p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2; }
  .footer-distributed .footer-content .footer-left p a {
    color: #5383d3;
    text-decoration: none; }
  .footer-distributed .footer-content .footer-right .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    margin: 0; }
    .footer-distributed .footer-content .footer-right .footer-company-about span {
      display: block;
      color: #ffffff;
      font-size: 1.2em;
      margin-bottom: 20px; }

/************** Login form
***********************************************/
.login-form {
  margin: 50px auto;
  background: rgba(255, 0, 0, 0.1); }

.login-form form {
  margin-bottom: 15px;
  background: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px; }

.login-form h2 {
  margin: 0 0 15px; }

.form-control, .btn {
  min-height: 38px;
  border-radius: 2px; }

.btn {
  font-size: 15px;
  font-weight: bold; }

/******************** Rating
**********************************************/
.static-rating-container {
  text-align: center; }
  .static-rating-container.disabled {
    pointer-events: none;
    cursor: default; }
  .static-rating-container .rate {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none; }
  .static-rating-container input {
    display: none; }
  .static-rating-container label {
    float: right;
    font-size: 0;
    color: #d9d9d9; }
  .static-rating-container label:before {
    content: "\f005";
    font-family: FontAwesome;
    font-size: 40px; }
  .static-rating-container input:checked,
  .static-rating-container input:checked ~ label {
    color: #fcd000;
    transition: 0.2s; }

.rating-container {
  text-align: center; }
  .rating-container .rate {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none; }
  .rating-container input {
    display: none; }
  .rating-container label {
    float: right;
    font-size: 0;
    color: #d9d9d9; }
  .rating-container label:before {
    content: "\f005";
    font-family: FontAwesome;
    font-size: 40px; }
  .rating-container label:hover,
  .rating-container label:hover ~ label {
    color: #fcd000;
    transition: 0.2s; }
  .rating-container input:checked ~ label {
    color: #ccac00; }
  .rating-container input:checked ~ label:hover,
  .rating-container input:checked ~ label:hover ~ label {
    color: #fcd000;
    transition: 0.2s; }

.doctor-rating-holder {
  display: block;
  width: 100%;
  height: 100vh; }
  .doctor-rating-holder .average-rating-container {
    text-align: center; }
    .doctor-rating-holder .average-rating-container h4 {
      font-weight: normal; }
    .doctor-rating-holder .average-rating-container h2 {
      font-size: 2.5em; }
      .doctor-rating-holder .average-rating-container h2 span {
        font-weight: normal;
        font-size: 0.7em; }

.main_nav .navbar-toggler-icon {
  color: #007bff;
  font-size: 1.5em;
  padding-top: 5px; }

#carouselControl {
  margin: 24px 24px;
  border-radius: 16px;
  border-radius: 8px;
  overflow: hidden; }

.form-group p {
  line-height: 0; }

.doctors-container .btn, .doctors-container .static-rating-container {
  margin-top: auto; }
.doctors-container .card-title {
  line-height: 1.2em; }

.doctor_detail_container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .doctor_detail_container .card {
    padding: 0; }
  .doctor_detail_container .btn {
    margin-top: auto; }
  .doctor_detail_container h6 {
    line-height: 0; }

.doctor_detail {
  font-weight: lighter; }
  .doctor_detail h6 {
    font-size: 1.6em; }
  .doctor_detail p {
    font-size: 1.4em;
    margin-bottom: 30px; }

/*# sourceMappingURL=main.css.map */
